*{
    background-color: black;
    color: white;
}

label{
    color: white;
}
.form__input{
margin: 200px;

}
.form-card{
    /* height: 500px; */
    width: 400px;
    display: inline-block;
    margin: 30px;
    /* margin-bottom: 80px; */
    margin-top: 80px;
    border: 2px solid rgb(133, 8, 158);
    border-radius: 10px;
    padding: 1%;
}


.submit-btn{
    display: inline-block;
 
}