form {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;

  }
  
  label, input, textarea {
    display: block;
    margin-bottom: 10px;
  }
  
  input, textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

.form{
    margin: 50px;
    height: 30%;
    width: 90%;
}
label{
    display: inline;
}

.heading{
  margin: 50px;
}