<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" , href="{{url_for('static', filename='styles/blog.css')}}">
</head>

<body>
    <h1>{{ prediction_text }}</h1>
    <br>
    <!-- {{responsible_atribute_for_stress}} -->
    <ul>
        {% for fruit in responsible_atribute_for_stress %}
        <li>{{ fruit }}</li>
        {% endfor %}
    </ul>
</body>

</html>
