<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Great</title>
  <link rel="stylesheet" type="text/css" , href="{{url_for('static', filename='styles/form.css')}}">
</head>

<body>
  <div class="login" class="scrollable">
    <br>
    <br>
    <h1>Let's Predict your stress level
    </h1>
    <h3>It wouldn’t take much time to fill this form and be honest it is for you
    </h3>

    <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}" method="post">
      <label for="email">Q1. How many fruits or vegetables do you eat everyday?:</label>
      <!-- <br> -->
      <input type="text" name="FRUITS_VEGGIES" placeholder="0-5" required="required">
      <br>
      <label for="email">Q2. How many new places do you visit?</label>
      <!-- <br> -->
      <input type="text" name="PLACES_VISITED" placeholder="0-10" required="required">
      <br>
      <label for="email">Q3. How many people are very close to you?</label>
      <!-- <br> -->
      <input type="text" name="CORE_CIRCLE" placeholder="0-10" required="required">
      <br>
      <label for="email">Q4. How many people do you help achieve a better life?</label>
      <!-- <br> -->
      <input type="text" name="SUPPORTING_OTHERS" placeholder="0-10" required="required">
      <br>
      <label for="email">Q5. With how many people do you interact with during a typical day?</label>
      <!-- <br> -->
      <input type="text" name="SOCIAL_NETWORK" placeholder="0-10" required="required">
      <br>
      <label for="email">Q6. How many remarkable achievements are you proud of?</label>
      <!-- <br> -->
      <input type="text" name="ACHIEVEMENT" placeholder="0-10" required="required">
      <br>
      <label for="email">Q7. How many times do you donate your time or money to good causes?</label>
      <!-- <br> -->
      <input type="text" name="DONATION" placeholder="0-5" required="required">
      <br>
      <label for="email">Q8. What is your body mass index (bmi) range?</label>
      <!-- <br> -->
      <input type="text" name="BMI_RANGE" placeholder="1-2" required="required">
      <br>
      <label for="email">Q9. How well do you complete your weekly to-do lists?</label>
      <!-- <br> -->
      <input type="text" name="TODO_COMPLETED" placeholder="0-10" required="required">
      <br>
      <label for="email">Q10. In a typical day, how many hours do you experience "Flow"?</label>
      <!-- <br> -->
      <input type="text" name="FLOW" placeholder="0-10" required="required">
      <br>
      <label for="email">Q11. How many steps (in thousands) do you typically walk everyday?</label>
      <!-- <br> -->
      <input type="text" name="DAILY_STEPS" placeholder="1-10" required="required">
      <br>
      <label for="email">Q12. For how many years ahead is your life vision very clear for?</label>
      <!-- <br> -->
      <input type="text" name="LIVE_VISION" placeholder="0-10" required="required">
      <br>
      <label for="email">Q13. About how long do you typically sleep?:</label>
      <!-- <br> -->
      <input type="text" name="SLEEP_HOURS" placeholder="1-10" required="required">
      <br>
      <label for="email">Q14. How many days of vacation do you typically lose every year ?:</label>
      <!-- <br> -->
      <input type="text" name="LOST_VACATION" placeholder="0-10" required="required">
      <br>
      <label for="email">Q15. How often do you shout or sulk at somebody?:</label>
      <!-- <br> -->
      <input type="text" name="DAILY_SHOUTING" placeholder="0-10" required="required">
      <br>
      <label for="email">Q16. How sufficient is your income to cover basic life expenses?:</label>
      <input type="text" name="SUFFICIENT_INCOME" placeholder="1-2" required="required">
      <br>
      <label for="email">Q17. How many recognitions have you received in your life?:</label>
      <input type="text" name="PERSONAL_AWARDS" placeholder="0-10" required="required">
      <br>
      <label for="email">Q18. How many hours do you spend everyday doing what you are passionate about?:</label>
      <!-- <br> -->
      <input type="text" name="TIME_FOR_PASSION" placeholder="0-10" required="required">
      <br>
      <label for="email">Q19. In a typical week, how many times do you have the opportunity to think about
        yourself?</label>
      <!-- <br> -->
      <input type="text" name="WEEKLY_MEDITATION" placeholder="0-10" required="required">
      <br>
      <label for="email">Q20. Age groups</label>
      <!-- <br> -->
      <input type="text" name="AGE" placeholder="21-35,36-50,GREATER THAN 50" required="required">
      <br>
      <button type="submit" class="btn">Predict</button>
    </form>

  </div>


</body>

</html>
