<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Child-Down</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/style/form.css">
</head>

<body>


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Child-Down</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact-us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Signup</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="heading">
    <h3>Let's Predict your stress level
    </h3>
    <h5>It wouldn’t take much time to fill this form and be honest it is for you
    </h5>
  </div>

  <div class="form">
    <form>
      <div class="row">
        <div class="col">

          <label for="email">How many fruits or vegetables do you eat everyday?:</label>
          <input type="number" class="form-control" placeholder=" ">
        </div>
        <div class="col">

          <label for="email">How many new places do you visit?</label>
          <input type="number" class="form-control" placeholder=" ">
        </div>
        <div class="col">

          <label for="email">How many people are very close to you?</label>
          <input type="number" class="form-control" placeholder=" ">
        </div>
        <div class="col">

          <label for="email">How many people do you help achieve a better life?</label>
          <input type="number" class="form-control" placeholder=" ">
        </div>


      </div>
      <div class="row">
        <div class="col">

          <label for="email">With how many people do you interact with during a typical day?</label>
          <input type="number" class="form-control" placeholder=" ">
        </div>
        <div class="col">

          <label for="email">How many remarkable achievements are you proud of?</label>
          <input type="number" class="form-control" placeholder=" ">
        </div>
        <div class="col">

          <label for="email">How many times do you donate your time or money to good causes?</label>
          <input type="number" class="form-control" placeholder=" ">
        </div>
        <div class="col">

          <label for="email">What is your body mass index (bmi) range?</label>
          <input type="number" class="form-control" placeholder=" ">
        </div>


      </div>

      <div class="row">
        <div class="col">

          <label for="email">How well do you complete your weekly to-do lists?</label>
          <input type="number" class="form-control" placeholder=" ">
        </div>
        <div class="col">

          <label for="email">In a typical day, how many hours do you experience "Flow"?</label>
          <input type="number" class="form-control" placeholder=" ">
        </div>
        <div class="col">

          <label for="email">How many steps (in thousands) do you typically walk everyday?</label>
          <input type="number" class="form-control" placeholder=" ">
        </div>
        <div class="col">

          <label for="email">For how many years ahead is your life vision very clear for?</label>
          <input type="number" class="form-control" placeholder=" ">
        </div>
      </div>
      <div class="row">
        <div class="col">

          <label for="email">About how long do you typically sleep?:</label>
          <input type="number" class="form-control" placeholder=" ">
        </div>

        <div class="col">

          <label for="email">How many days of vacation do you typically lose every year ?:</label>
          <input type="number" class="form-control" placeholder=" ">
        </div>
        <div class="col">

          <label for="email">How often do you shout or sulk at somebody?:</label>
          <input type="number" class="form-control" placeholder=" ">
        </div>
        <div class="col">

          <label for="email">How sufficient is your income to cover basic life expenses?:</label>
          <input type="number" class="form-control" placeholder=" ">
        </div>

      </div>

      <div class="row">
        <div class="col">

          <label for="email">How many recognitions have you received in your life?:</label>
          <input type="number" class="form-control" placeholder=" ">
        </div>

        <div class="col">

          <label for="email">How many hours do you spend everyday doing what you are passionate about?:</label>
          <input type="number" class="form-control" placeholder=" ">
        </div>
        <div class="col">

          <label for="email">In a typical week, how many times do you have the opportunity to think about
            yourself?</label>
          <input type="number" class="form-control" placeholder=" ">
        </div>

        <div class="col">

          <label for="email">Age groups</label>
          <input type="number" class="form-control" placeholder=" ">
        </div>


      </div>
      <div class="row">

        <div class="col">

          <label for="email">Male or female</label>
          <input type="number" class="form-control" placeholder=" ">
        </div>
        <input class="btn btn-primary" type="submit" value="Submit">
      </div>



    </form>
  </div>




  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</body>

</html>
